<uib-tabset>
    <div class="panel panel-info bootstrap-panel">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel panel-warning bootstrap-panel">
                        <div class="panel-heading">
                            <center>ADMIN LOGIN</center>
                        </div>
                        <div class="panel-body">
                            <form name="ApplicationForm" ng-submit="getDetails(insert.admin_id,insert.password,insert.dept)">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="form-group">
                                            <select class="form-control selectpicker" title="Select Department" name="dept"
                                                id="dept" ng-model="insert.dept" selectpicker>
                                                <option>Computer</option>
                                                <option>IT</option>
                                                <option>E&TC</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="admin_id">Admin ID</label>
                                        <input type="text" class="form-control" name="admin_id" id="admin_id" ng-model="insert.admin_id"
                                            placeholder="Enter ID" required>
                                    </div>
                                    <div class="row">
                                        <label for="pass">Password</label>
                                        <input type="password" class="form-control" name="password" id="password"
                                            ng-model="insert.password" placeholder="1234" required>
                                    </div>
                                    <div class="row">
                                        <center>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-12 col-lg-4">
                                                <br><br><br>
                                                <button type="submit" class="btn btn-info" name="insert">LOGIN</button>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</uib-tabset>