<div class="col-md-3"></div>

<div class="panel panel-warning bootstrap-panel">
    <div class="panel-heading">
        <center><code>Professor's</code>FeedBack Questions</center>
    </div>
    <div class="panel-body">
        <form name="ApplicationForm" ng-submit="getDetails(insert.year,insert.division,insert.emp_id,insert.emp_name,insert.question_1,insert.question_2,insert.question_3,insert.question_4,insert.question_5)">
            <div class="form-group has-success">
                <div class="row">
                    <div class="col-md-6">
                        <label for="select_year">Select Year </label>
                        <select class="form-control selectpicker" title="Select Year" name="year" id="year" ng-model="insert.year"
                            selectpicker required>
                            <option>FE</option>
                            <option>SE</option>
                            <option>TE</option>
                            <option>BE</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="select_division">Select Division </label>
                        <select class="form-control selectpicker" title="Select Division" name="division" id="division" ng-model="insert.division"
                        selectpicker required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
    
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="emp_id">Enter Professor ID </label>
                        <input type="text" class="form-control" name="emp_id" id="emp_id" ng-model="insert.emp_id"
                            placeholder="e.g. emp100" required>
                    </div>
                    <div class="col-md-6">
                        <label for="emp_name">Enter Professor Name </label>
                        <input type="text" class="form-control" name="emp_name" id="emp_name" ng-model="insert.emp_name"
                            placeholder="e.g. ABC XYZ" required>
                    </div>
                </div>

                 <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="row">
                        <label for="question_1">Enter Question 1 </label>
                        <input type="text" class="form-control" name="question_1" id="question_1" ng-model="insert.question_1"
                            required>
                    </div>

                    <div class="row">
                        <label for="question_2">Enter Question 2 </label>
                        <input type="text" class="form-control" name="question_2" id="question_2" ng-model="insert.question_2"
                            required>
                    </div>

                    <div class="row">
                        <label for="question_3">Enter Question 3 </label>
                        <input type="text" class="form-control" name="question_3" id="question_3" ng-model="insert.question_3"
                            required>
                    </div>
                    <div class="row">
                        <label for="question_4">Enter Question 4 </label>
                        <input type="text" class="form-control" name="question_4" id="question_4" ng-model="insert.question_4"
                            required>
                    </div>
                    <div class="row">
                        <label for="question_5">Enter Question 5 </label>
                        <input type="text" class="form-control" name="question_5" id="question_5" ng-model="insert.question_5"
                            required>
                    </div>

                    <div class="row">
                        <center>
                            <div class="col-md-4"></div>
                            <div class="col-md-12 col-lg-4">
                                <br><br><br>
                                <button type="submit" class="btn btn-info" name="insert">SUBMIT</button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>