<div class="panel panel-default bootstrap-panel">
  <div class="panel-heading">
    <center>SCHEMES</center>
  </div>
  <div class="panel-body">


    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="panel panel-default bootstrap-panel">
          <div class="panel-heading" style="background-color:darkcyan; color: white">Stand Up India</div>
          <div class="panel-body">
            <div class="row">
                <img ng-src="{{ picture }}" id="picture" name="picture" ng-model="picture" ng-click="uploadPicture()">
              </div>
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Industry Applicable
              </div>
              <div class="col-md-2 col-lg-8">
                Sector-agnostic
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Headed_By:
              </div>
              <div class="col-md-2 col-lg-8">
                Small Industries Development Bank of India (SIDBI)
              </div>
            </div>
            <hr>
            <div class="button-wrapper"><button type="button" class="btn btn-danger" ng-click='redirect("1")'>Apply for Scheme</button></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="panel panel-default bootstrap-panel">
          <div class="panel-heading" style="background-color:darkcyan; color: white">Startup assistance Scheme</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Industry Applicable
              </div>
              <div class="col-md-2 col-lg-8">
                Sector-agnostic
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Headed_By:
              </div>
              <div class="col-md-2 col-lg-8">
                Small Industries Development Bank of India (SIDBI)
              </div>
            </div>
            <hr>
            <div class="button-wrapper"><button type="button" class="btn btn-danger" ng-click='redirect("10")'>Apply for Scheme</button></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="panel panel-default bootstrap-panel">
          <div class="panel-heading" style="background-color:darkcyan; color: white">Atal Incubation Centres (AIC)</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Industry Applicable
              </div>
              <div class="col-md-2 col-lg-8">
                  Chemicals,Technology Hardware,Healthcare
                  <br>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2 col-lg-4">
                Headed_By:
              </div>
              <div class="col-md-2 col-lg-8">
                  Atal Innovation Mission (AIM) 
                  
              </div>
            </div>
            <br> <hr>
            <div class="button-wrapper"><button type="button" class="btn btn-danger" ng-click='redirect("2")'>Apply for Scheme</button></div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 row -->
    <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="panel panel-default bootstrap-panel">
            <div class="panel-heading" style="background-color:darkcyan; color: white">SPARSH</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2 col-lg-4">
                  Industry Applicable
                </div>
                <div class="col-md-2 col-lg-8">
                    Healthcare,Lifesciences
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-lg-4">
                  Headed_By:
                </div>
                <div class="col-md-2 col-lg-8">
                    Biotechnology Industry Research Assistance Council (BIRAC)
                </div>
              </div>
              <hr>
              <div class="button-wrapper"><button type="button" class="btn btn-danger" ng-click='redirect("5")'>Apply for Scheme</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="panel panel-default bootstrap-panel">
            <div class="panel-heading" style="background-color:darkcyan; color: white">Biotechnology Ignition Grant (BIG)</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2 col-lg-4">
                  Industry Applicable
                </div>
                <div class="col-md-2 col-lg-8">
                    Healthcare,Lifesciences
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-lg-4">
                  Headed_By:
                </div>
                <div class="col-md-2 col-lg-8">
                    Biotechnology Industry Research Assistance Council (BIRAC)
                </div>
              </div>
              <hr>
              <div class="button-wrapper"><button type="button" class="btn btn-danger" ng-click='redirect("6")'>Apply for Scheme</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="panel panel-default bootstrap-panel">
            <div class="panel-heading" style="background-color:darkcyan; color: white">Pradhan Mantri Mudra Yojana (PMMY)</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2 col-lg-4">
                  Industry Applicable
                </div>
                <div class="col-md-2 col-lg-8">
                    Sector-agnostic
                    <br>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-2 col-lg-4">
                  Headed_By:
                </div>
                <div class="col-md-2 col-lg-8">
                    Micro Units Development and Refinance Agency Ltd. (MUDRA)
                </div>
              </div>
              <hr>
              <div class="button-wrapper"><button type="button" class="btn btn-danger" ng-click='redirect("7")'>Apply for Scheme</button></div>
            </div>
          </div>
        </div>
      </div>
  </div>