<div class="row">
  <form name="schemeform" ng-submit="schemef(insert.scheme)">
    <div class="col-md-3">
      <select class="form-control selectpicker" ng-model="insert.scheme" name="" title="Select Scheme" selectpicker>
        <option value="ffs">Fund of Funds</option>
        <option value="aspireindia"> Aspire India</option>
        <option value="indiaopportunity">India Opportunity</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="submit" class="btn btn-info" id="insert" name="insert" ng-model="insert" value="Generate">
    </div>

  </form>
</div>

<br><br>
<!-- <div class="columns" id="hide_unhide">
  <div class="column tp">
    <section class="section has-text-centered" id="insert_companies_here">
    </section>
  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-title="Investors List" ba-panel-class="with-scroll">
      <div include-with-scope="app/pages/InvestorListTable/widgets/smartTable.html"></div>
    </div>
  </div>
</div>