<uib-tabset>
        <div class="panel panel-info bootstrap-panel">
          <div class="panel-heading">
            <center>Previous Bookings</center>
          </div>
          <div class="panel-body">
<div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="place"><b>Place :</b><label>
                
            <input type="text" class="form-control" id="place" ng-model="place" readonly style="color: black;font-weight: bold">
          </div>
        </div>
        <div class="col-sm-6">
                <div class="form-group">
                  <label for="time"><b>Time :</b><label>
                 <input type="text" class="form-control" id="time" ng-model="time" readonly style="color: black;font-weight: bold"> 
                </div>
        </div>
</div>
<div class="row">
        <div class="col-sm-6">
                <div class="form-group">
                  <label for="topic"><b>Topic :</b><label>
                  <input type="text" class="form-control" id="topic" ng-model="topic" readonly style="color: black;font-weight: bold">
                </div>
              </div>
              <div class="col-sm-6">
                      <div class="form-group">
                        <label for="seats"><b>Seats :</b><label>
                        <input type="text" class="form-control" id="seats" ng-model="seats" readonly style="color: black;font-weight: bold">
                      </div>
              </div>
</div>
</div>
</div>

</uib-tabset>
<div class="row">
        <center><button class="btn btn-info" ng-click="home()">OK</button></center>
</div>

