<uib-tabset>
        <div class="panel panel-info bootstrap-panel">
            <div class="panel-heading">
                <center>FLOOR PLANS</center>
            </div>
            <div class="panel-body">
<div class="row">

    <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
                <div class="popular-app-img-container">
                    <div class="popular-app-img">
                        <br><br><br><br><br><br><br><br><br>
                        <center><img ng-src="{{::( 'app/audi.jpg' | appImage )}}" height="140" width="180" />
                            <br><br> <span class="logo-text">Auditorium</span><br><br><br>
                            <div><button class="btn btn-info" ng-click="auditorium()">Add Floor Plan</button><br><br><br>
                                
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>


 
    <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
                <div class="popular-app-img-container">
                    <div class="popular-app-img">
                        <br><br><br><br><br><br><br><br><br>
                        <center><img ng-src="{{::( 'app/library.jpg' | appImage )}}" height="140" width="180" />
                            <br><br> <span class="logo-text">Library</span><br><br><br>
                            <div>
                            <button class="btn btn-info">Add Floor Plan</button><br><br><br>
                        
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
                <div class="popular-app-img-container">
                    <div class="popular-app-img">
                        <br><br><br><br><br><br><br><br><br>
                        <center><img ng-src="{{::( 'app/tutorial.jpg' | appImage )}}" height="140" width="180" />
                            <br><br> <span class="logo-text">Function Hall</span><br><br><br>
                            <div><button class="btn btn-info" ng-click="tutorial()">Add Floor Plan</button><br><br><br>
                                
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
                <div class="popular-app-img-container">
                    <div class="popular-app-img">
                        <br><br><br><br><br><br><br><br><br>
                        <center><img ng-src="{{::( 'app/it.jpg' | appImage )}}" height="140" width="180" />
                            <br><br> <span class="logo-text">IT hall</span><br><br><br>
                            <div><button class="btn btn-info" ng-click="it_hall()">Add Floor Plan</button><br><br><br>
                                
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>


 
    <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
                <div class="popular-app-img-container">
                    <div class="popular-app-img">
                        <br><br><br><br><br><br><br><br><br>
                        <center><img ng-src="{{::( 'app/computer.jpg' | appImage )}}" height="140" width="180" />
                            <br><br> <span class="logo-text">Computer Hall</span><br><br><br>
                            <div><button class="btn btn-info" ng-click="computer_hall()">Add Floor Plan</button><br><br><br>
                                
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
            <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
                <div class="popular-app-img-container">
                    <div class="popular-app-img">
                        <br><br><br><br><br><br><br><br><br>
                        <center><img ng-src="{{::( 'app/reading.jpg' | appImage )}}" height="140" width="180" />
                            <br><br> <span class="logo-text">Reading Hall</span><br><br><br>
                            <div><button class="btn btn-info" ng-click="reading_hall()">Add Floor Plan</button><br><br><br>
                                
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</uib-tabset>