<div class="panel panel-info bootstrap-panel">
  <div class="panel-heading">
    <center>Startups</center>
  </div>
  <div class="panel-body">

    <!-- input Startup1 -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control selectpicker" title="Select Startups" name="startup1" id="startup1" ng-model="startup1"
            ng-change="first()" selectpicker required>
            <option>AgNext Technologies</option>
            <option>Atomberg</option>
            <option>Azuro</option>
            <option>Belong</option>
            <option>Bigphi Technologies</option>
            <option>Bizongo</option>
            <option>Blowhorn</option>
            <option>Bogorchid</option>
            <option>Bonushub</option>
            <option>Boxx.Ai</option>
            <option>Care24</option>
            <option>Celes Care</option>
            <option>Clip</option>
            <option>Clootrack</option>
            <option>CrediFiable</option>
            <option>Creditmate</option>
            <option>Cure.Fit</option>
            <option>Curofy</option>
            <option>Doodhwala</option>
            <option>DoubtNut</option>
            <option>EarlySalary</option>
            <option>Fitternity</option>
            <option>Flyrobe </option>
            <option>Ftcash </option>
            <option>Fynd </option>
            <option>Get My Parking </option>
            <option>Gingercrush </option>
            <option>GoCoop </option>
            <option>GoComet </option>
            <option>GoMechanic </option>
            <option>GrabOnRent </option>
            <option>Hansel.Io </option>
            <option>Halaplay Technologies </option>
            <option>Holachef </option>
            <option>Hypernova </option>
            <option>Iimjobs </option>
            <option>Infivention Technologies </option>
            <option>InnerChef </option>
            <option>Innovcare Lifesciences </option>
            <option>Innov4sight </option>
            <option>Jiva Digital Services </option>
            <option>JoulesToWatts </option>
            <option>Ketchupp </option>
            <option>KWIK24 </option>
            <option>Lavelle Networks </option>
            <option>Learntron </option>
            <option>Leixir Labs </option>
            <option>LetsMD </option>
            <option>ListUP </option>
            <option>Little Black Book </option>
            <option>Limo </option>
            <option>Loadshare Network </option>
            <option>LoanSimple </option>
            <option>LoanTap </option>
            <option>Loanzen </option>
            <option>MagicPin </option>
            <option>MeraDoctor </option>
            <option>mFine </option>
            <option>M.Paani </option>
            <option>NestAway </option>
            <option>euroEquilibrium Diagnostic </option>
            <option>NIRAMAI </option>
            <option>Noticeboard </option>
            <option>Nua </option>
            <option>Numberz </option>
            <option>Oakter </option>
            <option>Onco </option>
            <option>Pandorum Technologies </option>
            <option>Pharmarack </option>
            <option>PhotographAI </option>
            <option>Playshifu </option>
            <option>PopiCorn </option>
            <option>Roadpiper </option>
            <option>S-Cube Futuretech </option>
            <option>ShareChat </option>
            <option>SecurAX </option>
            <option>Selltm </option>
            <option>Sequretek </option>
            <option>Shoptimize </option>
            <option>Shumee </option>
            <option>SigTuple </option>
            <option>Skedool.It </option>
            <option>SmartCoin </option>
            <option>Snapmint </option>
            <option>Stelae Technologies </option>
            <option>Sugar Cosmetics </option>
            <option>Tagbox </option>
            <option>ten3T </option>
            <option>Thirdwatch </option>
            <option>Touchkin (Wysa) </option>
            <option>TranZact </option>
            <option>Tripshelf </option>
            <option>Truebil </option>
            <option>Trupay </option>
            <option>Unacademy </option>
            <option>Unbxd </option>
            <option>Upwards Fintech </option>
            <option>WealthTrust </option>
            <option>WhoDat</option>
            <option>Wholesalebox</option>
            <option>We Organise The Unorganised (WOTU)</option>
            <option>Wydr</option>
            <option>Yourquote</option>
            <option>Zenatix</option>
            <option>Zipgo</option>
            <option>Zo Rooms</option>
            <option>Zyla Health</option>
            <option>Sendd </option>
            <option>Handyhome</option>
            <option>Vanity Cube</option>
            <option>Ample Wholesale</option>
            <option>Kaaryah</option>
            <option>Roder (Earlier InstaCab)</option>
            <option>Frankly.Me</option>
            <option>KleverKid</option>
            <option>Qyk</option>
            <option>Inc42</option>


          </select>
        </div>
      </div>
      <!-- input strtup2 -->
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control selectpicker" title="Select Startups" name="startup2" id="startup2" ng-model="startup2"
            ng-change="second()" selectpicker required>
            <option>AgNext Technologies</option>
            <option>Atomberg</option>
            <option>Azuro</option>
            <option>Belong</option>
            <option>Bigphi Technologies</option>
            <option>Bizongo</option>
            <option>Blowhorn</option>
            <option>Bogorchid</option>
            <option>Bonushub</option>
            <option>Boxx.Ai</option>
            <option>Care24</option>
            <option>Celes Care</option>
            <option>Clip</option>
            <option>Clootrack</option>
            <option>CrediFiable</option>
            <option>Creditmate</option>
            <option>Cure.Fit</option>
            <option>Curofy</option>
            <option>Doodhwala</option>
            <option>DoubtNut</option>
            <option>EarlySalary</option>
            <option>Fitternity</option>
            <option>Flyrobe </option>
            <option>Ftcash </option>
            <option>Fynd </option>
            <option>Get My Parking </option>
            <option>Gingercrush </option>
            <option>GoCoop </option>
            <option>GoComet </option>
            <option>GoMechanic </option>
            <option>GrabOnRent </option>
            <option>Hansel.Io </option>
            <option>Halaplay Technologies </option>
            <option>Holachef </option>
            <option>Hypernova </option>
            <option>Iimjobs </option>
            <option>Infivention Technologies </option>
            <option>InnerChef </option>
            <option>Innovcare Lifesciences </option>
            <option>Innov4sight </option>
            <option>Jiva Digital Services </option>
            <option>JoulesToWatts </option>
            <option>Ketchupp </option>
            <option>KWIK24 </option>
            <option>Lavelle Networks </option>
            <option>Learntron </option>
            <option>Leixir Labs </option>
            <option>LetsMD </option>
            <option>ListUP </option>
            <option>Little Black Book </option>
            <option>Limo </option>
            <option>Loadshare Network </option>
            <option>LoanSimple </option>
            <option>LoanTap </option>
            <option>Loanzen </option>
            <option>MagicPin </option>
            <option>MeraDoctor </option>
            <option>mFine </option>
            <option>M.Paani </option>
            <option>NestAway </option>
            <option>euroEquilibrium Diagnostic </option>
            <option>NIRAMAI </option>
            <option>Noticeboard </option>
            <option>Nua </option>
            <option>Numberz </option>
            <option>Oakter </option>
            <option>Onco </option>
            <option>Pandorum Technologies </option>
            <option>Pharmarack </option>
            <option>PhotographAI </option>
            <option>Playshifu </option>
            <option>PopiCorn </option>
            <option>Roadpiper </option>
            <option>S-Cube Futuretech </option>
            <option>ShareChat </option>
            <option>SecurAX </option>
            <option>Selltm </option>
            <option>Sequretek </option>
            <option>Shoptimize </option>
            <option>Shumee </option>
            <option>SigTuple </option>
            <option>Skedool.It </option>
            <option>SmartCoin </option>
            <option>Snapmint </option>
            <option>Stelae Technologies </option>
            <option>Sugar Cosmetics </option>
            <option>Tagbox </option>
            <option>ten3T </option>
            <option>Thirdwatch </option>
            <option>Touchkin (Wysa) </option>
            <option>TranZact </option>
            <option>Tripshelf </option>
            <option>Truebil </option>
            <option>Trupay </option>
            <option>Unacademy </option>
            <option>Unbxd </option>
            <option>Upwards Fintech </option>
            <option>WealthTrust </option>
            <option>WhoDat</option>
            <option>Wholesalebox</option>
            <option>We Organise The Unorganised (WOTU)</option>
            <option>Wydr</option>
            <option>Yourquote</option>
            <option>Zenatix</option>
            <option>Zipgo</option>
            <option>Zo Rooms</option>
            <option>Zyla Health</option>
            <option>Sendd </option>
            <option>Handyhome</option>
            <option>Vanity Cube</option>
            <option>Ample Wholesale</option>
            <option>Kaaryah</option>
            <option>Roder (Earlier InstaCab)</option>
            <option>Frankly.Me</option>
            <option>KleverKid</option>
            <option>Qyk</option>
            <option>Inc42</option>



          </select>
        </div>
      </div>
    </div>



    <br>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
          <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
            <div class="popular-app-img-container">
              <div class="popular-app-img">
                <center>
                  <img ng-src="{{ startup_no1 }}" id="startup_no1" name="startup_no1" ng-model="startup_no1" height="140"
                    width="180" />
                  <center><span class="logo-text">{{startup1}}</span></center>
                  <button class="btn btn-info" ng-click="details_startup1()">More Details</button>
                </center>
              </div>
            </div>
            <div class="popular-app-cost row">
              <div class="col-xs-12 text-left">
                <div class="info-label"><i class="fas fa-filter"></i><b>CATEGORY</b>
                {{category_of_startup1}}</div>
              </div>
            </div>
            <div class="popular-app-info row">
              <div class="col-xs-3 text-left">
                <div class="info-label"><b>Patent</b></div>
                <div><i class="fas fa-award"></i>{{patent_startup1}}</div>
              </div>
              <div class="col-xs-4 text-center">
                <div class="info-label"><b>Fund Received</b></div>
                <div><i class="fas fa-funnel-dollar"></i>{{revenue_startup1}}</div>
              </div>
              <div class="col-xs-5 text-right">
                <div class="info-label"><b>Location</b></div>
                <div><i class="fas fa-map-marker-alt"></i>{{location_startup1}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xlg-6 col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="row">
          <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12" ba-panel ba-panel-class="popular-app medium-panel">
            <div class="popular-app-img-container">
              <div class="popular-app-img">
                <center><img ng-src="{{ startup_no2 }}" id="startup_no2" name="startup_no2" ng-model="startup_no2"
                    height="140" width="180" />
                  <center><span class="logo-text">{{startup2}}</span></center>
                  <button class="btn btn-info" ng-click="details_startup2()">More Details</button>
                </center>
              </div>
            </div>
            <div class="popular-app-cost row">
                <div class="col-xs-12 text-left">
                    <div class="info-label"><i class="fas fa-filter"></i><b>CATEGORY</b>
                    {{category_of_startup2}}</div>
                  </div>
            </div>
            <div class="popular-app-info row">
              <div class="col-xs-3 text-left">
                <div class="info-label"><b>Patent</b></div>
                <div><i class="fas fa-award"></i>{{patent_startup2}}</div>
              </div>
              <div class="col-xs-4 text-center">
                <div class="info-label"><b>Fund Received</b></div>
                <div><i class="fas fa-funnel-dollar"></i>{{revenue_startup2}}</div>
              </div>
              <div class="col-xs-5 text-right">
                <div class="info-label"><b>Location</b></div>
                <div><i class="fas fa-map-marker-alt"></i>{{location_startup2}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="row">
    <center>
      <button type="submit" class="btn btn-primary" ng-model="insert" name="insert" id="insert" ng-click="compare()">Compare</button>
    </center>
  </div>

</div>
</div>