<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker ng-model="smartTablePageSize"
        ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData" st-safe-src="smartTableData1">
    <thead>
      <tr class="sortable ">
        <th class="table-id" st-sort="mis">#</th>
        <th st-sort="name">Name</th>
        <th st-sort="category">Category</th>
        <th st-sort="cgpa" st-sort-default="reverse" st-skip-natural="true">CGPA</th>
        <th st-sort="backlog">Backlogs</th>
        <th>View Documents</th>
        <th>Actions</th>

      </tr>
      <tr>
        <th></th>
        <th><input st-search="name" placeholder="Search Name" class="input-sm form-control search-input" type="search" /></th>
        <th><input st-search="category" placeholder="Search Category" class="input-sm form-control search-input" type="search" /></th>
        <th><input st-search="cgpa" placeholder="Search cgpa" class="input-sm form-control search-input" type="search" /></th>
        <th><input st-search="backlog" placeholder="Search backlog" class="input-sm form-control search-input" type="search" />
        </th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="item in smartTableData">
        <td class="table-id">{{item.mis}}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td>{{item.cgpa}}</td>
        <td>{{item.backlog}}</td>
        <td>
          <button class="btn btn-info btn-xs" ng-click="open('marksheet')">Marksheet</button>
          <button class="btn btn-info btn-xs" ng-click="open('undertaking')">Undertaking</button>
          <button class="btn btn-info btn-xs" ng-click="open('hosteldue')">Hostel Due</button>
          <button class="btn btn-info btn-xs" ng-click="open('messdue')">Mess Due</button>
          <button class="btn btn-info btn-xs" ng-click="open('allotmentletter')">Allotment Letter</button>
          <button class="btn btn-info btn-xs" ng-click="open('castecertificate')">Caste Certificate</button>

        </td>
        <td>
          <button class="btn btn-success editable-table-button btn-xs" ng-click="approveUser(item.mis)">Approve</button>
          <button class="btn btn-danger editable-table-button btn-xs" ng-click="showModal(item)">Delete</button>
        </td>

      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-center">
          <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>